h4 {
  font-size: 25px;
  position: relative;
  top:10px;
  left:15px;
}

main {
  position: relative;
  left:100px;
  margin-bottom: 30px;
}


table {
  border-collapse: collapse;
}

table thead th {
  color: gray;
  text-align: left;
}

table tbody th {
  font-weight: bold;
  vertical-align: top;
  text-align: left;
  padding-top: 15px;
  padding-right: 25px;
}

table th:last-child {
  text-align: right;
}

table td {
  padding: 10px;
}

table tr td:last-child {
  background-color: #F5DEB3;
  text-align: right;
  padding-right: 10px;
}

table a {
  color: rgb(61, 59, 59);
  font-weight: normal;
}